<nav class="navbar navbar-expand-lg navbar-dark glassy-navbar py-2 px-4 shadow-sm">
    <a class="navbar-brand fw-bold fs-3" href="">
        <span class="gradient-text">Proiect Senat</span>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#nav2025"
            aria-controls="nav2025" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="nav2025">
        <ul class="navbar-nav gap-2 align-items-center">
            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center gap-2 fs-5" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill"></span>
                    <span class="d-none d-md-inline">Home</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center gap-2 fs-5" href="dataprocessing">
                    <span class="bi bi-gear-fill"></span>
                    <span class="d-none d-md-inline">Data Processing</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center gap-2 fs-5" href="chat">
                    <span class="bi bi-gear-fill"></span>
                    <span class="d-none d-md-inline">New Chat</span>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>